{% extends 'base.html' %}

{% block content %}

<div style="width: 50%; height: 550px; margin: auto;" class="pt-5">
  <h2>Movie Ratting Form</h2>
  <form method = 'post' action="/contact/">

    {% csrf_token %}
      <div class="mb-3">
        <label for="exampleInputName" class="form-label">Name</label>
        <input type="text" class="form-control" id="exampleInputName" aria-describedby="namelHelp" name='username'>
        
      </div>
      <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name='email'>
          
        </div>
      
        <select class="form-select mb-3" aria-label="Default select example" name="select">
          <option selected>Ratting option</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="3">4</option>
          <option value="3">5</option>
        </select>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

  


{% endblock %}
